.zendesk {
  background-color: #c77bea;
  color: white;
  &:hover { background-color: #9f62bb; }
  &.new {
    background-color: #F5CA00;
    &:hover { background-color: #c4a100; }
  }
  &.solved {
    background-color: #828282;
    &:hover { background-color: #444444; }
  }
  &.closed {
    background-color: #61a00f;
    &:hover { background-color: #4e800e; }
  }
  &.open {
    background-color: #E82A2A;
    &:hover { background-color: #a51d1d; }
  }
  &.pending {
    background-color: #146EAA;
    &:hover { background-color: #0e476d; }
  }
  &.hold {
    background-color: #000;
    &:hover { background-color: #3a3a3a; }
  }
}

